In [5]:
import pandas as pd

In [11]:
t = pd.read_csv('data1.csv')
t

                  date         0         1         2         3
0  2000-01-01 00:00:00 -1.033231  0.814219 -0.370186  2.559284
1  2000-01-02 00:00:00  2.129308 -1.333952  2.008477  2.579610
2  2000-01-03 00:00:00 -1.908736 -1.163113 -1.898449  0.995442
3  2000-01-04 00:00:00  1.902614 -1.096234 -1.321772 -0.875516
4  2000-01-05 00:00:00 -1.899291 -1.269435 -1.007952  1.528732
5  2000-01-06 00:00:00 -0.713043  0.991187 -0.406186 -1.882722
6  2000-01-07 00:00:00 -0.849390 -1.710978  0.229784  2.164465
7  2000-01-08 00:00:00  2.117591 -1.458307 -1.971114 -1.479821
8  2000-01-09 00:00:00  2.805074 -1.310971 -0.805346  0.879001
9  2000-01-10 00:00:00 -0.984529  0.474850 -1.331920 -0.220135

In [7]:
t.columns

Index(['date', ' 0', ' 1', ' 2', ' z', ' time', 'Unnamed: 6'], dtype='object')

In [8]:
t.columns[1]

' 0'

In [9]:
t[t.columns[5]]

0     00:00:00
1     00:00:00
2     00:00:00
3     00:00:00
4     00:00:00
5     00:00:00
6     00:00:00
7     00:00:00
8     00:00:00
9     00:00:00
Name:  time, dtype: object

<http://chrisalbon.com/python/pandas_dataframe_importing_csv.html>

In [10]:
t1 = pd.read_csv('test2.csv',header=None,parse_dates=[[0,5]])
t1

                     0_5         1         2         3               4   6
0             date  time  0.000000  1.000000  2.000000               z NaN
1   2000-01-01  00:00:00 -1.497153 -1.779128  0.141012    0.6554314974 NaN
2   2000-01-02  00:00:00 -0.081725  2.078358  0.081390    1.6370595777 NaN
3   2000-01-03  00:00:00  2.872043 -0.415910 -0.771129   -1.9849582555 NaN
4   2000-01-04  00:00:00  0.493605 -0.656474 -1.090553    0.5223285409 NaN
5   2000-01-05  00:00:00 -0.601121  1.617966 -1.394013   -1.7362410178 NaN
6   2000-01-06  00:00:00 -1.783028  2.939213 -1.201543   -0.7349965011 NaN
7   2000-01-07  00:00:00  2.427145 -0.243278 -0.935969    1.9682056904 NaN
8   2000-01-08  00:00:00  0.527173  1.024933  0.411320   -0.4402508092 NaN
9   2000-01-09  00:00:00 -1.840033 -0.436751 -1.679627    1.8857879831 NaN
10  2000-01-10  00:00:00  1.934762  0.890132  0.080114   -1.8977816635 NaN