In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In this work, we learn to work with time and timestamps.

<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html>

In [2]:
df = pd.read_csv('weather.log',sep='\s+', header=None, names=['date','time','temp','hum','water'])

In [3]:
df

            date      time   temp   hum  water
0     2016-09-20  08:26:38  12°C,  96%,  ~20°C
1     2016-09-20  08:27:29  12°C,  96%,  ~20°C
2     2016-09-20  08:27:32  12°C,  96%,  ~20°C
3     2016-09-20  08:37:21  12°C,  96%,  ~20°C
4     2016-09-20  08:47:24  12°C,  96%,  ~20°C
...          ...       ...    ...   ...    ...
7119  2021-04-14  02:18:18   8°C,  94%,   ~8°C
7120  2021-04-16  00:37:43   8°C,  81%,   ~9°C
7121  2021-04-16  01:42:25   8°C,  81%,   ~9°C
7122  2021-04-18  00:50:43   8°C,  89%,   ~7°C
7123  2021-04-19  02:37:36  11°C,  55%,  ~10°C

[7124 rows x 5 columns]

<https://stackoverflow.com/questions/50444346/fast-punctuation-removal-with-pandas>

    str.replace

In [4]:
df['water'] = df['water'].str.replace('~','').str.replace('°C','')
df['temp'] = df['temp'].str.replace(',','').str.replace('°C','')

https://stackoverflow.com/questions/46544351/removing-character-from-string-in-dataframe

In [5]:
dt = df['date'] + ' ' + df['time']

In [19]:
df['date']

0       2016-09-20
1       2016-09-20
2       2016-09-20
3       2016-09-20
4       2016-09-20
           ...
7119    2021-04-14
7120    2021-04-16
7121    2021-04-16
7122    2021-04-18
7123    2021-04-19
Name: date, Length: 7124, dtype: object

https://datatofish.com/string-to-integer-dataframe/

In [23]:
df['temp'] = pd.to_numeric(df['temp'])
df['water'] = pd.to_numeric(df['water'])
df['time'] = dt
df['month'] = dt.index.to_period("M")

AttributeError: 'RangeIndex' object has no attribute 'to_period'

https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#plotting-tools

In [8]:
df.head()

         date                 time  temp   hum  water
0  2016-09-20  2016-09-20 08:26:38    12  96%,     20
1  2016-09-20  2016-09-20 08:27:29    12  96%,     20
2  2016-09-20  2016-09-20 08:27:32    12  96%,     20
3  2016-09-20  2016-09-20 08:37:21    12  96%,     20
4  2016-09-20  2016-09-20 08:47:24    12  96%,     20

In [9]:
df.pivot_table(values="temp", 
                        index="date", 
                        columns="parameter", 
                        aggfunc="mean")

KeyError: 'parameter'