In [1]:
import pandas as pd

In [14]:
t = pd.read_csv('test2.csv')
t

         date         0         1         2         z       time  Unnamed: 6
0  2000-01-01 -1.497153 -1.779128  0.141012  0.655431   00:00:00         NaN
1  2000-01-02 -0.081725  2.078358  0.081390  1.637060   00:00:00         NaN
2  2000-01-03  2.872043 -0.415910 -0.771129 -1.984958   00:00:00         NaN
3  2000-01-04  0.493605 -0.656474 -1.090553  0.522329   00:00:00         NaN
4  2000-01-05 -0.601121  1.617966 -1.394013 -1.736241   00:00:00         NaN
5  2000-01-06 -1.783028  2.939213 -1.201543 -0.734997   00:00:00         NaN
6  2000-01-07  2.427145 -0.243278 -0.935969  1.968206   00:00:00         NaN
7  2000-01-08  0.527173  1.024933  0.411320 -0.440251   00:00:00         NaN
8  2000-01-09 -1.840033 -0.436751 -1.679627  1.885788   00:00:00         NaN
9  2000-01-10  1.934762  0.890132  0.080114 -1.897782   00:00:00         NaN

In [16]:
t.columns

Index([u'date', u' 0', u' 1', u' 2', u' z', u' time', u'Unnamed: 6'], dtype='object')

In [21]:
t.columns[1]

' 0'

In [26]:
t[t.columns[5]]

0     00:00:00
1     00:00:00
2     00:00:00
3     00:00:00
4     00:00:00
5     00:00:00
6     00:00:00
7     00:00:00
8     00:00:00
9     00:00:00
Name:  time, dtype: object

<http://chrisalbon.com/python/pandas_dataframe_importing_csv.html>

In [50]:
t1 = pd.read_csv('test2.csv',header=None,parse_dates=[[0,5]])
t1

                     0_5         1         2         3               4   6
0             date  time  0.000000  1.000000  2.000000               z NaN
1   2000-01-01  00:00:00 -1.497153 -1.779128  0.141012    0.6554314974 NaN
2   2000-01-02  00:00:00 -0.081725  2.078358  0.081390    1.6370595777 NaN
3   2000-01-03  00:00:00  2.872043 -0.415910 -0.771129   -1.9849582555 NaN
4   2000-01-04  00:00:00  0.493605 -0.656474 -1.090553    0.5223285409 NaN
5   2000-01-05  00:00:00 -0.601121  1.617966 -1.394013   -1.7362410178 NaN
6   2000-01-06  00:00:00 -1.783028  2.939213 -1.201543   -0.7349965011 NaN
7   2000-01-07  00:00:00  2.427145 -0.243278 -0.935969    1.9682056904 NaN
8   2000-01-08  00:00:00  0.527173  1.024933  0.411320   -0.4402508092 NaN
9   2000-01-09  00:00:00 -1.840033 -0.436751 -1.679627    1.8857879831 NaN
10  2000-01-10  00:00:00  1.934762  0.890132  0.080114   -1.8977816635 NaN